/* base styles */
@font-face {
    font-family: "Circular Std Bold";
    src: url("fonts/CircularStd-Bold.ttf") format("opentype");
}

@font-face {
    font-family: "Circular Std Book";
    src: url("fonts/CircularStd-Book.ttf") format("opentype");
}

body {
    font-family: "Circular Std Book", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif;
    color: #343739;
}

h1, h2, h3, h4 {
    font-family: "Circular Std Bold", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", sans-serif;
}

#info-section-emojis {
    font-size: xx-large;
}

/* bootstrap overrides */
/* change the primary button colour to align with our colour scheme */
.btn-outline-primary {
    color: #3786B0;
    border-color: #3786B0;
}

.btn-outline-primary:hover {
    background-color: #3786B0;
    border-color: #3786B0;
}

.btn-primary {
    background-color: #3786B0;
    border-color: #3786B0;
}

.btn-primary:hover {
    background-color: #2b6889;
    border-color: #2b6889;
}

/* header styles */
#header-container {
    height: 60vh;
    background: 
        url('images/sail-landing-image.png') no-repeat bottom right 150px,
        linear-gradient(to bottom, #3786B0, #9DE2E9);
}

#inner-header-container {
    padding-top: 16px;
}

#inner-header-container a {
    color: #343739;
}

#main-menu {
    list-style-type: none;
}

#main-menu li {
    display: inline-block;
    margin: 0 12px;
}

#banner-title {
    margin-top: 200px;
}

/* sea background image below header container */
#sea-bg {
    height: 250px;
    background: url("images/sea-effect.png") no-repeat top right 150px;
}

/* info section */
#info-section {
    background: url("images/info-bg-image.png") no-repeat top left;
}

#sail-info {
    padding: 200px 0;
}

/* faq section */
#faq-section img {
    width: 150px;
    margin-bottom: 2em;
}

#faq-section .row {
    margin-bottom: 6em;
}

/* add to sail section */
#add-to-sail-section {
    margin: 5em 0;
    padding: 2em 0;
    background: url("images/add-to-sail-section-bg.png") repeat-x;
}

/* footer section */
#footer {
    background: url("images/footer.png") no-repeat top left 100px;
    margin-bottom: 1em;
}

#footer-details {
    margin-top: 400px;  /* pulls the text down enough to show the bg image */
}

#footer-details small {
    display: block;
}